@keyframes linkHover {
  0% {
    transform: translateY(1rem);
  }
  40% {
    transform: translateY(-1rem) scale(0);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-3deg) scale(1.5);
  }
  50% {
    transform: rotate(3deg) scale(1.5);
  }

  100% {
    transform: rotate(-3deg) scale(1.5);
  }
}
@keyframes rotation1 {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}
