.btn{
    color: white;
    background-image: $color-gradient;
    background-size: 200%;
    background-color: $color-primary;
    padding: 2rem 2.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    border: none;
    margin-top: 2rem;
    transition: $transition;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn:hover {
    background-position: right center;
}