.links-primary::before {
  content: "\f00c";
  font-family: "Line Awesome Free";
  font-size: 24px;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  background: #000;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: $color-gradient;
  background-size: 200%;
}

.links-secondary::before {
  content: "\f00c";
  font-family: "Line Awesome Free";
  font-size: 24px;
  width: 35px;
  height: 35px;
  background: #000;
  text-align: center;
  line-height: 35px;
  color: $color-primary;
  border-radius: 35px;
  font-weight: 900;
  border: 2px solid $color-primary;
  background-color: transparent;
  background-size: 200%;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.links-tertiary::before {
  content: "\f00c";
  font-family: "Line Awesome Free";
  font-size: 24px;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  background: #000;
  text-align: center;
  line-height: 35px;
  color: $color-primary;
  border-radius: 35px;
  font-weight: 900;
  background-color: #feeff3;
  background-size: 200%;
}
