html,
body {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  background: url("../public/images/background.jpg") center no-repeat;
  background-size: cover;
  background-color: rgba(50, 70, 80, 0.5);
  background-blend-mode: soft-light;
}

.header {
  text-align: center;
  padding: 2rem;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
}

.model img {
  width: 20rem;
}

.model__target {
  position: relative;
}

.model__glasses {
  position: absolute;
  background-color: transparent;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: multiply;
}

.model__glasses img {
  width: 11rem;
}

.glasses {
  margin-top: 15rem;
  background-color: rgba(50, 70, 80, 0.5);
}

.glasses__item {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 3px;
}

.glasses__item:hover {
  border: 2px solid blue;
}

.glasses img {
  width: 17rem;
}

/* Typography */
h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

/* Utilities */
