.list {
  background-color: #dcd1f0;
  position: relative;
  .bg-bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
    img {
      height: auto;
      width: 100%;
    }
  }
}
