$primary: #dc4f72;
$secondary: #0d5fa8;
$title-color: #2c3038;
$text-color: #5a5a5a;
$light-bg-color: #f7f9fc;
$card-curve: 6px;
$card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
$card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
$transformY: translateY(-0.5rem);
$border-radius: 5px;
$transition: all 0.8s;

$spacer: 4rem;
