header {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;

  background-color: transparent;

  img {
    width: 16rem;
  }

  li {
    margin-right: 2rem;

    a {
      color: white !important;
      transition: all 1s;
    }
    a:hover {
      color: $color-primary !important;
    }
  }

  button.navbar-toggler {
    border: none;
  }
  i.fas {
    font-size: 3rem;
    color: white;
  }
}

//  =========== Carousel  ===========
.carousel {
  width: 100vw;
  padding: 0 !important;

  img {
    position: relative;
  }

  &-content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 23;

    h2 {
      margin-bottom: 6rem;
    }
  }

  &-indicators {
    li {
      position: relative;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 3px solid transparent;
      background-color: $color-opacity-2;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    li.active {
      background-color: transparent;
      border: 3px solid $color-primary;
    }
  }

  i {
    font-size: 3rem;
    border: 1px solid;
    border-radius: 50%;
    padding: 2.5rem;
    transition: all 0.5s ease-in-out;
  }

  .carousel-control-prev {
    i:hover {
      transform: translateX(-50%);
      background-color: $color-primary;
    }
  }

  .carousel-control-next {
    i:hover {
      transform: translateX(50%);
      background-color: $color-primary;
    }
  }
}

//  =========== Service  ===========
.service {
  text-align: center;

  &__content {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;

    @media screen and (max-width: $breakpoint-tab) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: repeat(1, 80%);
      grid-gap: 2rem;
    }
  }

  &__card {
    background-color: #f6f6f6;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    padding: 4rem 3rem;
    border-radius: 20px;
    transition: all 0.5s ease-out;

    .icon {
      font-size: 45px;
      font-weight: 400;
      margin-bottom: 23px;
      text-align: center;
      border-radius: 100%;
      display: flex;
      margin-bottom: 3rem;

      svg {
        width: 47px;
        height: 47px;
      }

      &-1 {
        color: $color-primary;
      }
      &-2 {
        color: #337dff;
      }
      &-3 {
        color: #12d8df;
      }
      &-4 {
        color: #59c98d;
      }
      &-5 {
        color: #6f41f6;
      }
      &-6 {
        color: #357ff6;
      }
    }

    &:hover {
      transform: translateY(-1rem);
      box-shadow: $box-shadow;
    }
  }
}

//  =========== Project ===========
.project {
  background-image: url("../../images/bg-image-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;

    @media screen and (max-width: $breakpoint-tab) {
      & {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      & {
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

//  =========== About ===========
.about {
  &__image {
    img {
      border-radius: 10px;
    }
  }

  &__content {
    .nav-tabs {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid $color-border;
      border-radius: 50em;
    }
  }

  i {
    color: $color-primary;
  }

  &__nav {
    .nav-pills {
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      background-color: transparent;
      border: 1px solid $color-gray;

      border-radius: 5rem;
    }

    .nav-item {
      background-color: transparent;
      a {
        padding: 1rem 2rem;
        font-size: 2rem;
        color: black;
        font-weight: 300;
      }

      .nav-link.active {
        background-color: $color-primary;
        padding: 1rem 2rem;
        border-radius: 5rem;
      }
    }
  }
}

//  =========== Testimonial ===========
.testimonial {
  background-color: #f9f9f9;
  position: relative;

  p::before {
    position: absolute;
    width: 177px;
    height: 100%;
    left: -64px;
    top: -57px;
    background-image: url("../../images/image-1.png");
    content: "";
    opacity: 1;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media screen and (max-width: $breakpoint-tab) {
    p::before {
      display: none;
    }
  }

  p {
    font-size: 3rem;
    line-height: 4.8rem;
    color: #18181b;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -1.6rem;
    position: relative;
    z-index: 2;
  }

  h6 {
    font-size: 1.8rem;
    line-height: 5rem;
    color: #8c8c8c;
    font-weight: 300;
    margin-bottom: 0;
    span {
      color: $color-primary;
      font-weight: 500;
    }
  }

  &__profile {
    margin: 1rem 0;
    img {
      border-radius: 10px;
    }
  }

  .nav-item {
    padding: 0 !important;
    img {
      transform: scale(0.9);
      filter: grayscale(0.6);
      transition: all 1s;
    }
  }

  .nav-link:hover {
    border: none !important;
  }

  .nav-item .active {
    border: none !important;
    background-color: transparent !important;
    img {
      transform: scale(1.1);
      filter: grayscale(0);
    }
  }

  .nav-tabs {
    border: none !important;
  }
}

//  =========== New ===========
.new {
  text-align: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;

    @media screen and (max-width: $breakpoint-tab) {
      & {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      & {
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__card {
    text-align: left;

    button {
      border-radius: 4px;
      padding: 1rem;
    }
  }
}

//  =========== Client ===========
.client {
  text-align: center;
  background-color: #f9f9f9;
  &__content {
    margin-top: 5rem;
  }

  &__item {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: $color-primary;
      transform: scale(1.1);
    }
  }

  img {
    position: relative;
    top: 50%;
    width: 60%;
    height: 60%;
    padding: auto 0;
    object-fit: contain;
    transform: translateY(-50%);
  }
}

//  =========== Footer ===========
.footer {
  background-color: #010001;
  padding: 10rem !important;
  h4 {
    color: white;
    font-size: 3rem;
  }

  h5 {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
  }

  li {
    margin-bottom: 1rem;
  }

  &__action {
    border-bottom: 3px solid $color-gray;
    padding-bottom: 3rem;
  }

  &__logo {
    img {
      width: 30%;
      height: 30%;
    }
    margin-bottom: 5rem;
  }

  &__social {
    margin-top: 2rem;
    i {
      font-size: 3rem;
      color: white;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-1rem);
        color: $color-primary;
      }
    }
  }

  @media screen and (max-width: $breakpoint-tab) {
    .footer__intro {
      text-align: center;
    }
  }
}
