*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: $breakpoint-tab) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: $breakpoint-mobile) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

section {
  padding: 10rem !important;
}

@media screen and (max-width: $breakpoint-tab) {
  section {
    padding: 3rem !important;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  section {
    padding: 1rem !important;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

li{
  list-style: none;
}