*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

section {
  padding: 11.5rem 4rem 0 4rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none !important;
  transition: all 0.4s ease-in-out 0s;
}
.bg-gray {
  background-color: #f6f6f6;
}
.row--35 {
  margin-left: -35px;
  margin-right: -35px;
}
.mt--30 {
  margin-top: 30px;
}
.tab-style--1 {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $color-border;
  border-radius: 50em;
}
.mt--10{
  margin-top: 10px;
}
.ptb--120{
  padding: 120px 0;
}