@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

section {
  padding: 10rem !important;
}

@media screen and (max-width: 1200px) {
  section {
    padding: 3rem !important;
  }
}
@media screen and (max-width: 700px) {
  section {
    padding: 1rem !important;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

h1 {
  color: white;
  font-size: 10rem;
  font-weight: 900;
  line-height: 112px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 1.9rem;
  font-weight: 600;
  font-size: 5.5rem;
}

h4 {
  margin-bottom: 1.9rem;
  font-weight: 600;
  font-size: 2rem;
}

p.description {
  color: rgba(29, 29, 36, 0.75);
  font-size: 2rem;
  line-height: 40px;
  margin: 0;
  font-weight: 100;
}

a {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem 0;
}

p {
  color: rgba(29, 29, 36, 0.75);
  font-size: 2rem;
  line-height: 30px;
}

.subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 2rem;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.footer-text {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

.footer-link {
  position: relative;
}
.footer-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 14px;
  width: 0;
  height: 1px;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  transition: all 0.5s;
}

.footer-link:hover::after {
  width: 100%;
}

header {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  background-color: transparent;
}
header img {
  width: 16rem;
}
header li {
  margin-right: 2rem;
}
header li a {
  color: white !important;
  transition: all 1s;
}
header li a:hover {
  color: #fd4766 !important;
}
header button.navbar-toggler {
  border: none;
}
header i.fas {
  font-size: 3rem;
  color: white;
}

.carousel {
  width: 100vw;
  padding: 0 !important;
}
.carousel img {
  position: relative;
}
.carousel-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 23;
}
.carousel-content h2 {
  margin-bottom: 6rem;
}
.carousel-indicators li {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.carousel-indicators li.active {
  background-color: transparent;
  border: 3px solid #fd4766;
}
.carousel i {
  font-size: 3rem;
  border: 1px solid;
  border-radius: 50%;
  padding: 2.5rem;
  transition: all 0.5s ease-in-out;
}
.carousel .carousel-control-prev i:hover {
  transform: translateX(-50%);
  background-color: #fd4766;
}
.carousel .carousel-control-next i:hover {
  transform: translateX(50%);
  background-color: #fd4766;
}

.service {
  text-align: center;
}
.service__content {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  align-items: center;
  grid-gap: 5rem;
}
@media screen and (max-width: 1200px) {
  .service__content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .service__content {
    grid-template-columns: repeat(1, 80%);
    grid-gap: 2rem;
  }
}
.service__card {
  background-color: #f6f6f6;
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  padding: 4rem 3rem;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}
.service__card .icon {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 23px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  margin-bottom: 3rem;
}
.service__card .icon svg {
  width: 47px;
  height: 47px;
}
.service__card .icon-1 {
  color: #fd4766;
}
.service__card .icon-2 {
  color: #337dff;
}
.service__card .icon-3 {
  color: #12d8df;
}
.service__card .icon-4 {
  color: #59c98d;
}
.service__card .icon-5 {
  color: #6f41f6;
}
.service__card .icon-6 {
  color: #357ff6;
}
.service__card:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 2px 70px 0px rgba(253, 71, 102, 0.05);
}

.project {
  background-image: url("../../images/bg-image-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.project__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}
@media screen and (max-width: 1200px) {
  .project__content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .project__content {
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.about__image img {
  border-radius: 10px;
}
.about__content .nav-tabs {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e6e6e6;
  border-radius: 50em;
}
.about i {
  color: #fd4766;
}
.about__nav .nav-pills {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: transparent;
  border: 1px solid rgba(29, 29, 36, 0.75);
  border-radius: 5rem;
}
.about__nav .nav-item {
  background-color: transparent;
}
.about__nav .nav-item a {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: black;
  font-weight: 300;
}
.about__nav .nav-item .nav-link.active {
  background-color: #fd4766;
  padding: 1rem 2rem;
  border-radius: 5rem;
}

.testimonial {
  background-color: #f9f9f9;
  position: relative;
}
.testimonial p::before {
  position: absolute;
  width: 177px;
  height: 100%;
  left: -64px;
  top: -57px;
  background-image: url("../../images/image-1.png");
  content: "";
  opacity: 1;
  background-repeat: no-repeat;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .testimonial p::before {
    display: none;
  }
}
.testimonial p {
  font-size: 3rem;
  line-height: 4.8rem;
  color: #18181b;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: -1.6rem;
  position: relative;
  z-index: 2;
}
.testimonial h6 {
  font-size: 1.8rem;
  line-height: 5rem;
  color: #8c8c8c;
  font-weight: 300;
  margin-bottom: 0;
}
.testimonial h6 span {
  color: #fd4766;
  font-weight: 500;
}
.testimonial__profile {
  margin: 1rem 0;
}
.testimonial__profile img {
  border-radius: 10px;
}
.testimonial .nav-item {
  padding: 0 !important;
}
.testimonial .nav-item img {
  transform: scale(0.9);
  filter: grayscale(0.6);
  transition: all 1s;
}
.testimonial .nav-link:hover {
  border: none !important;
}
.testimonial .nav-item .active {
  border: none !important;
  background-color: transparent !important;
}
.testimonial .nav-item .active img {
  transform: scale(1.1);
  filter: grayscale(0);
}
.testimonial .nav-tabs {
  border: none !important;
}

.new {
  text-align: center;
}
.new__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}
@media screen and (max-width: 1200px) {
  .new__content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .new__content {
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.new__card {
  text-align: left;
}
.new__card button {
  border-radius: 4px;
  padding: 1rem;
}

.client {
  text-align: center;
  background-color: #f9f9f9;
}
.client__content {
  margin-top: 5rem;
}
.client__item {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.client__item:hover {
  background-color: #fd4766;
  transform: scale(1.1);
}
.client img {
  position: relative;
  top: 50%;
  width: 60%;
  height: 60%;
  padding: auto 0;
  object-fit: contain;
  transform: translateY(-50%);
}

.footer {
  background-color: #010001;
  padding: 10rem !important;
}
.footer h4 {
  color: white;
  font-size: 3rem;
}
.footer h5 {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}
.footer li {
  margin-bottom: 1rem;
}
.footer__action {
  border-bottom: 3px solid rgba(29, 29, 36, 0.75);
  padding-bottom: 3rem;
}
.footer__logo {
  margin-bottom: 5rem;
}
.footer__logo img {
  width: 30%;
  height: 30%;
}
.footer__social {
  margin-top: 2rem;
}
.footer__social i {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.footer__social i:hover {
  transform: translateY(-1rem);
  color: #fd4766;
}
@media screen and (max-width: 1200px) {
  .footer .footer__intro {
    text-align: center;
  }
}

.header-btn {
  font-size: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  background-color: transparent;
  padding: 1.6rem 4rem;
  border-radius: 500px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.header-btn:hover {
  color: white;
  background-color: #fd4766;
  border: 2px solid #fd4766;
}

.default-btn {
  color: white;
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.6rem 4rem;
  border-radius: 500px;
  display: inline-block;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  background: #fd4766;
  border: 2px solid #fd4766;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  margin-top: 3rem;
}
.default-btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(39, 43, 54, 0.05);
  background-size: cover;
}

.card {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), 0px 2px 70px 0px rgba(253, 71, 102, 0.05) 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.card::before {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}
.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%);
  transition: all 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  opacity: 0;
}
.card:hover::before {
  opacity: 1;
}
.card:hover::after {
  opacity: 1;
}
.card__thumbnail {
  width: 100%;
  height: 100%;
}
.card__thumbnail img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  object-fit: cover;
}
.card:hover img {
  transform: scale(1.1);
}
.card__content {
  position: absolute;
  z-index: 2;
  width: 90%;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease, opacity 0.5s ease 0.25s;
}
.card__content p {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.card__content h4 {
  color: white;
  font-size: 2.5rem;
}
.card__content-slideUp {
  position: absolute;
  z-index: 3;
  width: 90%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s ease, opacity 0.5s ease 0.25s;
}
.card__content-slideUp p {
  color: white;
  color: #ffffff;
  opacity: 0.7;
}
.card:hover .card__content-slideUp {
  top: 82%;
  opacity: 1;
}
.card:hover .card__content {
  top: 60%;
}
@media screen and (max-width: 1200px) {
  .card:hover .card__content {
    top: 55%;
  }
}

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.paginacontainer {
  height: 3000px;
}

/* #Progress
================================================== */
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "↑";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: #fd4766;
  /* --- Pijl kleur --- */
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "↑";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background: #fd4766;
  /* --- Pijl hover kleur --- */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #fd4766;
  /* --- Lijn progres kleur --- */
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.no-right-border {
  border-right: none;
}

.no-left-border {
  border-left: none;
}

.no-top-border {
  border-top: none;
}

.no-bottom-border {
  border-bottom: none;
}

/*# sourceMappingURL=style.css.map */
