/* base */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.625rem;
  font-family: "Oswald", sans-serif;
  color: white;
}

/* ANIMATION */
@keyframes arrowDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
/* --------------HEADER------------ */
header {
  padding: 2.6rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
}
.arrow_down i {
  animation-name: arrowDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.header__content {
  /* cac element con se len 1 dong */
  display: flex;
  /* giãn đều logo vs nav chỉ hoạt động khi có flex */
  justify-content: space-around;
  /* Canh giữa theo chiều đứng chỉ hoạt động khi có flex */
  align-items: center;
  margin: 0 auto;
  color: white;
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline;
  margin-right: 4.8rem;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 2rem;
  font-size: 2rem;
  color: white;
}
/* Luôn cho nó có màu  đỏ */
.menu li.active a {
  color: #e62b4a;
}
/* Rê chuột vào li thì a sẽ có màu khác */
.menu li:hover a {
  color: #e62b4a;
}
.menu li a {
  /* Độ trễ khi đưa chuột vào */
  transition: all 0.5s;
}
/* -----------------CAROUSEL--------------- */
.carousel {
  background-image: url("../images/home_slider.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__content {
  text-align: center;
}
.carousel__content p {
  font-size: 2.5rem;
}
.carousel__content h1 {
  font-size: 7.5rem;
  line-height: 9rem;
}
.carousel__content button {
  font-size: 1.6rem;
  background-color: #e62b4a;
  color: white;
  padding: 1.5rem 2.5rem;
  margin-top: 2rem;
  border: none;

  transition: all 0.5s;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}
.carousel__content button:hover {
  background-color: #af2239;
}
.arrow_down {
  margin-top: 2rem;
}
/* ---------------SERVICE--------------- */
.service {
  background-color: black;
  padding: 8rem 0;
  color: white;
  text-align: center;
}
.service__content {
  letter-spacing: 0.1rem;
  width: 75%;
  margin: 0 auto;
}
/* p:nth-child thẻ p đầu tiên trong div */
.service__title p:nth-child(1) {
  color: #e62b4a;
  font-size: 1.4rem;
  font-weight: 300;
}
.service__title h1 {
  font-size: 5rem;
  font-weight: 400;
}
.service__title p:last-of-type {
  font-size: 1.6rem;
  color: #888888;
  font-weight: 700;
  margin-top: 2rem;
}
.slider__content .item {
  background-color: white;
  color: #848482;
  margin: 1rem;
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: all 0.5s;
}
.slider__content .item::after {
  content: "";
  /* cho nó có chiều ngang vs chiều cao */
  display: block;
  width: 0.5rem;
  /* Lúc đầu có height 100% nhưng do hover nên chỉ để 0 */
  height: 0;
  /* --- */
  background-color: red;
  position: absolute;
  top: 0%;
  right: 0%;
}
.slider__content .item:hover::after {
  height: 100%;
  transition: all 0.5s;
}
.slider__content .item i {
  font-size: 5rem;
}
.slider__content .item p {
  font-size: 1.4rem;
}

.slick-dots li.slick-active button::before {
  color: red;
}
.slick-dots li button::before {
  color: gray;
  font-size: 1.8rem;
}
/* -----------SHOWCASE-------------- */
.showcase__title {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}
.showcase__title p:nth-child(1) {
  color: #888888;
  font-size: 1.4rem;
  font-weight: 300;
}
.showcase__title h1 {
  font-size: 5rem;
  font-weight: 400;
  color: black;
}
.showcase__title p:last-of-type {
  font-size: 1.6rem;
  color: #888888;
  font-weight: 700;
  margin-top: 2rem;
}

.showcase__list {
  width: 75%;
  margin: 0 auto;
  /* dạng lưới */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* cách đều các thẻ  */
  gap: 1rem;
}

.showcase__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(50%);
}

.showcase__item {
  position: relative;
}
.showcase__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(230, 43, 74, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.showcase__item:hover .showcase__overlay {
  opacity: 1;
}
.showcase__icon {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background-color: white;
  transition: all 0.5s;
  transform: translateY(2rem);
  cursor: pointer;
}
.showcase__icon:hover {
  background-color: black;
}
.showcase__icon:hover i {
  color: white;
}
.showcase__icon i {
  color: black;
  font-size: 1.5rem;
}
.showcase__text p {
  font-size: 2rem;
}
.showcase__text h3 {
  font-size: 2.5rem;
}

.showcase__text {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  transform: translateY(2rem);
  transition: all 0.5s;
}
.showcase__item:hover .showcase__icon {
  transform: translateY(0);
}
.showcase__item:hover .showcase__text {
  transform: translateY(0);
}

/* BLOG */
#blog {
  background-color: #f3f3f3;
  padding-bottom: 10rem;
}
.blog__title {
  padding-top: 10rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}
.blog__title p:nth-child(1) {
  color: #888888;
  font-size: 1.4rem;
  font-weight: 300;
}
.blog__title h1 {
  font-size: 5rem;
  font-weight: 400;
  color: black;
}
.blog__title p:last-of-type {
  font-size: 1.6rem;
  color: #888888;
  font-weight: 700;
  margin-top: 2rem;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.blog__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(30%) contrast(50%);
  transition: all 0.5s;
}
.blog__content img:hover {
  filter: grayscale(0) contrast(100%);
}
.blog__item--1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.blog__item--10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
/* -------------------NUMBER------------- */
.number {
  background-color: black;
  padding: 8rem 0;
}
.number__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number__item h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 300;
}
.number__item p {
  font-size: 2rem;
  color: #888888;
}
/* ----------------------EXP------------ */
.exp {
  background-image: url("../images/bussiness_img_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0;
}

.exp__title {
  text-align: center;
}

.exp__title p:nth-child(1) {
  color: #e62b4a;
  font-size: 1.4rem;
  font-weight: 300;
}
.exp__title h1 {
  font-size: 5rem;
  font-weight: 400;
}
.exp__title p:last-of-type {
  font-size: 1.6rem;
  color: #888888;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.exp__content {
  width: 70%;
  margin: 0 auto;
}
.exp__content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----CONTACT---- */
.contact {
  padding-bottom: 10rem;
}
.contact__title {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.contact__title h1 {
  font-size: 5rem;
  font-weight: 400;
  color: black;
  margin-bottom: 2rem;
}

.contact__title p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #888888;
}
.contact__content {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.contact__map {
  width: 60%;
}

.contact__form {
  width: 40%;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.contact__form input,
textarea {
  font-size: 1.5rem;
  margin-bottom: 2.8rem;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 4px;
}
.contact__form button {
  padding: 2rem 3rem;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
/* FOOTER */
footer {
  background-color: black;
}
.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.footer__content p {
  font-size: 1.4rem;
}
.footer__content a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}
.backToTop {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
}

.cd-top--is-visible {
  /* // back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  /* // reduce button opacity if user keeps scrolling */
  opacity: 0.5;
}
