/* base */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.625rem;
  font-family: "Oswald", sans-serif;
  color: white;
}
/* --------------HEADER------------ */
header {
  padding: 2.6rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
}
.header__content {
  /* cac element con se len 1 dong */
  display: flex;
  /* giãn đều logo vs nav chỉ hoạt động khi có flex */
  justify-content: space-around;
  /* Canh giữa theo chiều đứng chỉ hoạt động khi có flex */
  align-items: center;
  margin: 0 auto;
  color: white;
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline;
  margin-right: 4.8rem;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 2rem;
  font-size: 2rem;
  color: white;
}
/* Luôn cho nó có màu  đỏ */
.menu li.active a {
  color: #e62b4a;
}
/* Rê chuột vào li thì a sẽ có màu khác */
.menu li:hover a {
  color: #e62b4a;
}
.menu li a {
  /* Độ trễ khi đưa chuột vào */
  transition: all 0.5s;
}
/* -----------------CAROUSEL--------------- */
.carousel {
  background-image: url("../images/home_slider.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__content {
  text-align: center;
}
.carousel__content p {
  font-size: 2.5rem;
}
.carousel__content h1 {
  font-size: 7.5rem;
  line-height: 9rem;
}
.carousel__content button {
  font-size: 1.6rem;
  background-color: #e62b4a;
  color: white;
  padding: 1.5rem 2.5rem;
  margin-top: 2rem;
  border: none;

  transition: all 0.5s;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}
.carousel__content button:hover {
  background-color: #af2239;
}
.arrow_down {
  margin-top: 2rem;
}
/* ---------------SERVICE--------------- */
.service {
  background-color: black;
  padding: 8rem 0;
  color: white;
  text-align: center;
}
.service__content {
  letter-spacing: 0.1rem;
  width: 75%;
  margin: 0 auto;
}
/* p:nth-child thẻ p đầu tiên trong div */
.service__title p:nth-child(1) {
  color: #e62b4a;
  font-size: 1.4rem;
  font-weight: 300;
}
.service__title h1 {
  font-size: 5rem;
  font-weight: 400;
}
.service__title p:last-of-type {
  font-size: 1.6rem;
  color: #888888;
  font-weight: 700;
  margin-top: 2rem;
}
.slider__content .item {
  background-color: white;
  color: #848482;
  margin: 1rem;
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.slider__content .item::after {
  content: "";
  /* cho nó có chiều ngang vs chiều cao */
  display: block;
  width: 0.5rem;
  /* Lúc đầu có height 100% nhưng do hover nên chỉ để 0 */
  height: 0;
  /* --- */
  background-color: red;
  position: absolute;
  top: 0%;
  right: 0%;
}
.slider__content .item:hover::after {
  height: 100%;
  transition: all 0.5s;
}
.slider__content .item i {
  font-size: 5rem;
}
.slider__content .item p {
  font-size: 1.4rem;
}

.slick-dots li.slick-active button::before {
  color: red;
}
.slick-dots li button::before {
  color: gray;
  font-size: 1.8rem;
}
/* -----------SHOWCASE-------------- */

.showcase__list {
  width: 75%;
  margin: 0 auto;
  /* dạng lưới */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* cách đều các thẻ  */
  gap: 1rem;
}

.showcase__item img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
