*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.625rem;
  font-family: Georgia, serif;
}
/* .logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 4rem;
  align-items: center;
} */
.clear-both {
  clear: both;
}
.logo {
  margin-left: 8rem;
}
.logo a,
.logo h1 {
  float: left;
  width: 5%;
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
}
.logo i {
  background-color: #102b4e;
  font-size: 1.2rem;
  color: #f6c800;
  text-align: center;
  height: 2.9rem;
  width: 2.9rem;
  line-height: 2.9rem;
  border-radius: 50%;
}
header {
  padding: 1.5rem 0;
}
header ul {
  list-style: none;
}
header ul li {
  display: inline;
  margin-right: 1.5rem;
}
nav {
  margin-left: 9rem;
  padding-top: 1.5rem;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  padding-right: 2rem;
}
.carousel {
  background-image: url("./../images/2.jpg");
  background-size: cover;
  height: 60rem;
  background-position: center;
}
.home{
    background-color: red;
    padding: 7rem;
}