$color-primary: #fd4766;
$color-secondary: #337dff;
$color-secondary-rgb: rgba(253, 71, 102, 1);
$color-tertiary: #010001;
$color-dark: #000000;
$color-heading: #1f1f25;
$color-body: #1d1d24;
$color-gray: rgba(29, 29, 36, 0.75);
$color-midgray: #e9ecef;
$color-opacity-1: hsla(0, 0%, 100%, 0.2);
$color-opacity-2: hsla(0, 0%, 100%, 0.5);
$color-light: #e4e6ea;
$color-lighter: #ced0d4;
$color-lightest: #f0f2f5;
$color-border: #e6e6e6;
$color-white: #ffffff;
$color-success: #3eb75e;
$color-danger: #ff0003;
$color-warning: #ff8f3c;
$color-info: #1ba2db;
$color-facebook: #3b5997;
$color-twitter: #1ba1f2;
$color-youtube: #ed4141;
$color-linkedin: #0077b5;
$color-pinterest: #e60022;
$color-instagram: #c231a1;
$color-vimeo: #00adef;
$color-twitch: #6441a3;
$color-discord: #7289da;
$color-extra01: #666666;
$color-extra02: #606770;
$color-extra03: #fbfbfd;
$color-extra04: #1a1a1a;
$color-extra05: #242424;
$radius: 10px;
$radius-big: 16px;
$radius-small: 6px;
$border-width: 2px;
$p-light: 300;
$p-regular: 400;
$p-medium: 500;
$p-semi-bold: 600;
$p-bold: 700;
$p-extra-bold: 800;
$p-black: 900;
$s-light: 300;
$s-regular: 400;
$s-medium: 500;
$s-bold: 700;
$s-black: 900;
$shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
$shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
$shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
$transition: all 0.5s;
$font-primary: "Poppins", sans-serif;
$secondary-font: "Poppins", sans-serif;
$font-awesome: "Font Awesome 5 Pro";
$font-size-b1: 18px;
$font-size-b2: 16px;
$font-size-b3: 14px;
$font-size-b4: 12px;
$line-height-b1: 1.67;
$line-height-b2: 1.5;
$line-height-b3: 1.6;
$line-height-b4: 1.3;

$box-shadow: 0px 2px 70px 0px rgba(253, 71, 102, 0.05);

$breakpoint-tab: 1200px;
$breakpoint-mobile: 700px;