/* base */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 0.625rem;
  font-family: Georgia, serif;
}
header {
  background: #f5e1dc;
  padding: 1.5rem 0;
}
header ul {
  /* delete circle front of ul  */
  list-style: none;
}
header ul li {
  display: inline;
  margin-right: 1.5rem;
}
nav {
  margin-left: 4.5rem;
  margin-top: 1.5rem;
}
nav a {
  /* delete gach ngang cua the a */
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
#logo {
  margin-left: 4.5rem;
}
/* #pic-bg{
  width: 100%;
  height: auto;
} */
#carousel {
  background-image: url("./../images/BG.png");
  /* background-size: cover;  = width :100% */
  background-size: cover;
  height: 60rem;
  background-position: center;
}
#logo_activities {
  margin-top: 2rem;
  width: 2rem;
  height: 2rem;
}
.activities-title h1 {
  font-size: 4rem;
  color: gray;
  font-weight: bold;
}
.activities .activities-title {
  text-align: center;
}
.activities-title h1 {
  padding-bottom: 2rem;
}
.activities {
  background-color: #f9f4f2;
  padding: 7rem;
}
.item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 1.5rem;
}
.clear-both {
  clear: both;
}
.activities-text {
  background-color: white;
  padding: 4rem;
  border-radius: 4rem;
}
.activities-text img {
  width: 100%;
  border-radius: 1rem;
}
.block-img {
  /* thang nay la cha  */
  position: relative;
}
.block-img i {
  color: #db7155;
  background-color: rgba(255, 255, 255, 0.534);
  width: 3.5rem;
  height: 3.5rem;
  /* canh giua theo chieu dung height bao nhieu line hight bay nhieu  */
  line-height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;
  /* lam mo lam trong suot  co value tu 0-1*/
  /* opacity: 0.5; */
  /* chinh vat di theo vi tri bat ky  */
  /* thang nay la con */
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.activities-text h3 {
  font-size: 2rem;
  margin: 1rem;
}
.activities-text p {
  font-size: 1.8rem;
  color: gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.activities-text button {
  border: none;
  padding: 1.5rem 5rem;
  border-radius: 2rem;
  margin-top: 2rem;
  color: rgba(128, 128, 128, 0.658);
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.viewall {
  text-align: center;
  margin-top: 5rem;
}
.viewall button {
  padding: 1.5rem 6.5rem;
  border-radius: 3rem;
  border: 0.1rem solid #f57b59;
  /* background: trong suot; */
  background: transparent;
  color: #f1724f;
  letter-spacing: 0.2rem;
}
.contact {
  background-color: #f5e1dc;
}
.contact-left {
  background-image: url("./../images/mask.png");
  background-size: cover;
  background-position: center;
}

.contact-left,
.contact-right {
  float: left;
  width: 50%;
  padding: 2rem 6rem;
}
.contact-right {
  padding: 9rem;
}
.contact-right h1 {
  color: gray;
  font-weight: bold;
  font-size: 4rem;
}
.contact-right p {
  margin: 2rem 0;
  font-size: 1.9rem;
  color: rgba(128, 128, 128, 0.705);
  font-weight: bold;
}
.contact-download,
.contact-follow,
.contact-download img {
  float: left;
  width: 50%;
}

.contact-download h3,
.contact-follow h3 {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
  padding-bottom: 2rem;
}

.contact-follow i {
  font-size: 3rem;
  color: #dc7054;
  margin-right: 1rem;
}
footer {
  background-color: #F5E1DC;
  margin-top: 5rem;
  padding: 5rem;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
}
.info1,
.info2,
.info3,
.info4 {
  float: left;
}
.info1 {
  width: 40%;
}
.info2,
.info3,
.info4 {
  width: 20%;
}
.info ul li {
  list-style: none;
}
.info p {
  font-size: 1.8rem;
  text-align: left;
  margin-top: 2rem;
  margin-right: 2rem;

  color: rgb(87, 81, 81);
}
.info h3 {
  font-weight: bold;
  font-size: 2rem;
}
.info a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}
.info ul {
  margin-top: 2rem;
}
.info li {
  padding: 0.7rem;
}
.copy_right {
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  font-weight: normal;
}
