*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bai__1{
    margin-top: 2rem;
}
.bai__1 input{
    margin-left: 2rem;
}
.thong__bao--1{
    background-color: cyan;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}