// ======= Header - Navbar =======
.header {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  .navbar-light .navbar-brand {
    font-size: 2.5rem;
    color: $primary;
  }
  & .nav-item .nav-link:not(.primary-btn) {
    color: black;
    position: relative;
    margin: 0 0.5rem;
    &.active {
      color: $primary;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 0.5rem;
      width: 0;
      height: 3px;
      background-color: $primary;
      transition: $transition;
    }
    &:hover::before {
      width: 3rem;
    }
  }
}
// ======= Carousel =======
.carousel {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffff;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url("../../images/banner.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
  &__image {
    transform: rotate(180deg);
  }
}
// ======= Bussines =======
.business {
  background-color: white;
  &__text {
    p {
      font-size: 1.6rem;
    }
  }

  img {
    max-width: 8rem;
    margin-bottom: 2rem;
  }

  & &__content .no-border {
    border: none;
  }

  &__card {
    background-color: $light-bg-color;
    border-radius: 15px;
    padding: 5.5rem 2rem;
    margin: 2rem 1.5rem;
    transition: 0.3s ease-in;
    cursor: pointer;
    // border: none !important;

    h3 {
      font-size: 2.6rem;
      line-height: 35px;
      font-weight: 700;
    }
    p {
      margin-top: 15px;
      font-size: 1.6rem;
      line-height: 24.5px;
    }

    &:hover {
      background-color: white;
      border: 1px solid #eee;
      box-shadow: $card-hover-box-shadow;
      transform: $transformY;
    }
  }
}

// ======= About =======
.about {
  background-color: $light-bg-color;
  &__image {
    margin-top: 4rem;
    border-radius: $card-curve;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: $transformY;
    }
  }
  & &__content .no-border {
    border: none;
  }
  &__card {
    background-color: white;
    border-radius: 15px;
    padding: 0rem 2rem;
    margin: 2rem 1rem;
    transition: 0.3s ease-in;
    cursor: pointer;
    h4 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 24.5px;
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
    }
    h5 {
      color: $primary;
      font-size: 4.5rem;
      font-weight: bold;
    }

    &:hover {
      border: 1px solid #eee;
      box-shadow: $card-hover-box-shadow;
      transform: $transformY;
    }
  }
}
.stats {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../../images/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;

  h2 {
    font-size: 3rem;
    color: white;
    line-height: 36px;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
    color: #eee;
  }

  button {
    color: black;
    background-color: white;
  }
}
// ======= Solution =======
.solution {
  background-color: white;

  .card-body {
    padding: 2rem;
  }
  &__heading {
    font-size: 2rem;
    color: black;
    font-weight: 700;
  }
  &__card {
    margin: 1rem 2rem;
    padding: 0;
    transition: all 0.5s ease-in-out;
    img {
      filter: grayscale(100%);
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      .solution__heading {
        color: $primary;
      }
      box-shadow: $card-hover-box-shadow;
      transform: $transformY;
    }
  }
  &__text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }
  &__btn {
    font-size: 1.5rem;
    letter-spacing: 1px;
    position: relative;
    span {
      font-size: 60%;
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 7px;
    }
  }
  &__card:hover span {
    transform: translateX(0.5rem);
  }
  &__card:hover img {
    filter: grayscale(0);
  }
}
// ======= Faq =======
.faq {
  background-color: $light-bg-color;
  &__image {
    transition: $transition;
    &:hover {
      transform: $transformY;
    }
  }
  & .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    border: none;
    box-shadow: none;
  }
  & .accordion-item {
    margin-bottom: 1rem;

    & .accordion-body {
      font-size: 1.5rem;
    }

    & .accordion-header .accordion-button {
      font-size: 2rem;
    }
  }
}
// ======= Feature =======
.feature {
  .nav {
    .nav-item {
      width: calc(100% / 3);
      text-align: center;
      border-bottom: 3px solid rgb(193, 193, 193);
      position: relative;

      .nav-link {
        color: #4e5b61;
        font-weight: 700;
        font-size: 2.2rem;
        padding: 1.5rem;
        margin: 0 auto;
        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          background-color: $primary;
          height: 0px;
          width: 100%;
        }
      }
    }
  }
  .nav-pills .nav-link.active {
    color: $primary;
    background: none;

    &::after {
      height: 3px;
    }
  }
  &__image {
    cursor: pointer;
    transition: $transition;
    &-small {
      width: 90%;
      height: 90%;
    }
    &:hover {
      transform: $transformY;
    }
  }
  h4 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

// ======= Testimonial =======
.testimonial {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url("../../images/b2.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  // .carousel-item {
  //   background-color: transparent;
  // }

  &__card {
    background-color: white;
    padding: 2.5rem;
    margin: 2rem 0;
    border-radius: $card-curve;
    box-shadow: $box-shadow;

    i {
      font-size: 4rem;
      color: #d4d4d6;
    }

    .sub-title {
      font-weight: 400;
    }
  }
}

.footer {
  background-color: $light-bg-color;

  h5 {
    font-size: 2rem;
    padding-left: 2rem;
  }

  & ul li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    transition: $transition;

    &:hover {
      color: $primary;
    }
  }

  &__form {
    background-color: #fff;
    padding: 2em;
    border-radius: $card-curve;
    box-shadow: $card-box-shadow;

    h4 {
      font-size: 1.8rem;
      line-height: 25px;
      color: title-color;
      margin-bottom: 3rem;
      font-weight: 500;
    }

    form {
      display: flex;
      margin-bottom: 1.5rem;

      .secondary-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    input {
      background: $light-bg-color;
      border: none;
      padding: 1.2rem 2rem;
      font-size: 1.6rem;
      outline: none;
      width: 78%;
      color: $title-color;
      font-weight: 600;
      border-top-left-radius: $card-curve;
      border-bottom-left-radius: $card-curve;
    }
  }

  &__copyright {
    border-top: 1px solid #eaeaea;

    li {
      margin: 0 1.5rem;
    }
    .fa-brands {
      font-size: 3rem;

      @media only screen and (max-width: 576px) {
        & {
          font-size: 2.5rem;
        }
      }
    }
  }
}
